@import "./variables";

.shared-sidebar {
  width: 280px;
  margin-bottom: 40px;
  & p {
    font-weight: bold;
  }
  & a {
    display: block;
    width: 100%;
    height: 52px;
    background-color: $main_white;
    border-bottom: $body_background-color 1.5px solid;
    &:hover {
      background-color: darken($main_white,2%);
      .shared-sidebar--awsome {
        transition: 0.3s;
        transform: translate(3px);
        & span:after {
        color: $main_black;
        font-size: 26px;
        }
      }
    }

    & li {
      list-style: none;
      float: left;
    }
  }
  &--text {
    padding-left: 15px;
    width: 80%;
    line-height: 52px;
    font-size: 14px;
  }
  &--awsome {
    width: 20%;
    padding-right: 15px;
    text-align: right;
    font-weight: 100;

    & span:after {
      content: "\f105";
      font-family: FontAwesome;
      line-height: 52px;
      color: darken($body_background-color, 20%);
      font-size: 22px;
    }
  }
  &--number {
    width: 30px;
    height: 30px;
    color: $main_white;
    background-color: $main_red;
    border-radius: 30px;
    margin-right: 10px;
    font-size: 15px;
  }
}