%li.usersInfo
  = link_to "#" do
    %ul
      %li.usersInfo--image
        = image_tag "http://static.mercdn.net/images/mercari_profile.png"
      %li.usersInfo--text
        事務局から個別メッセージ「ログイン機能」
        %br
          = fa_icon "clock-o"
          2時間前
      %li.usersInfo--awsome
        = fa_icon "chevron-right"