%li
  = link_to "hoge" do
    %ul
      %li.usersShow__contents__wrapper__right__tabs__contents--image
        = image_tag "http://static.mercdn.net/images/mercari_profile.png"
      %li.usersShow__contents__wrapper__right__tabs__contents--text
        事務局から個別メッセージ「ログイン機能」
        %br
          = fa_icon "clock-o"
          2時間前
      %li.usersShow__contents__wrapper__right__tabs__contents--awsome
        = fa_icon "chevron-right"