%section.slide-banner.owl-carousel
  = link_to "", "https://www.mercari.com/jp/", class: "slide-banner__link slide-banner__link--natsukashi"
  = link_to "", "https://www.mercari.com/jp/", class: "slide-banner__link slide-banner__link--new-life"
  = link_to "", "https://www.mercari.com/jp/", class: "slide-banner__link slide-banner__link--bokurano-heisei"