@import "variables";

.category {
  width: 700px;
  margin: 40px auto;

  &__title {
    padding: 8px 0;
    font-size: 22px;
    font-weight: bold;
  }

  &__all {
    background-color: $main_white;
    margin: 30px auto;

    &__name {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      padding: 7px 30px 0 30px;
      height: 40px;
      font-size: 22px;
      font-weight: bold;
      background-color: $main_red;
      color: $main_white;
    }

    &__parent {
      padding: 24px 30px 10px 30px;
      
      a.allcategory {
        font-size: 16px;
        color: $main_blue;
        padding-top: 8px;
        padding-bottom: 8px;
      }

      a.allcategory:hover {
        color: #b3d4fc;
        text-decoration: underline;
      }

      &__children {

        p {
          display: block;
          padding-top: 15px;
          padding-bottom: 5px;
          font-size: 14px;
          font-weight: bold;
        }

        a.grandchildcategory {
          display: inline-flex;
          color: $main_blue;
          // padding-left: 20px;
          // padding-bottom: 10px;
          padding: 5px 20px 5px;
          width: 300px;
        }

        a.grandchildcategory:hover {
          color: #b3d4fc;
          text-decoration: underline;
        }
      }
    }
  }
}