@import "variables";

.footer{
  font-weight: 100;
  color: $main_gray;
  background-color: $footer_background-color;
  padding: 0 20px 10px 20px;
  &__container{
    display: flex;
    justify-content:center;
    &__cell{
      margin: 18px 20px 10px 20px;
      &__head{
        font-size: 15px;
        line-height: 1.4;
        color: $main_white;
        margin-bottom: 10px;
      }
      ul{
        line-height: 3;
        font-size: 11px;
        .footer-social-link{
          font-size: 35px;
          a{
            padding-right: 10px;
            color: $main_white;
          }
        }
        li{
          display: block;
          a{
            text-decoration: none;
            color: $main_gray;
          }
          a:hover{
            text-decoration: underline;
          }
        }
      }
      &__width{
        &__head{
          font-size: 15px;
          line-height: 1.4;
          color: $main_white;
          margin-bottom: 10px;
        }
        &__inner{
          display:inline-block;
          margin: 0 5px 0 5px;
        }
      }
    }
  }
  .footer__bottom{
    display: flex;
    padding: 50px 25px;
    justify-content:center;
    &__logo{

    }
    &__copyright{
      margin: 0px 350px;
      font-size: 11px;
      color: $main_white;
    }
  }
}
