@import "variables";

* {
box-sizing: border-box;
}
html {
height: 100%;
width: 100%;
}

body {
height: 100%;
width: 100%;
}

h1,h2,h3,h4,h5,h6,body {
  line-height: 1.57;
  font-size: 16px;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}
h1 {
  font-size: 2em;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.75em;
}
h6 {
  font-size: 0.625em;
}
p {
  margin: 16px 0 0;
  font-size: 18px;
  line-height: 1.77778;
}

a {
  text-decoration: none;
  color: inherit;
}



@mixin dropMenu_aTag($cell-height) {
  background-color: white;
  color: black;
  display: block;
  height: $cell-height;
  line-height: $cell-height;
  text-align: left;
  text-decoration: none;
  width: 100%;
  padding-left: 10px;
}

@mixin headerUserBtn($font_color, $background_color, $border_color) {
  display:inline-block;
  background-color: $background_color;
  color: $font_color;
  height: 30px;
  border: 1px solid $border_color;
  border-radius: 4px;
  line-height:30px;
  text-align: center;
  padding: 0 10px;
  }

.header {
  width: 100%;
  background-color: $main_white;

  .header-wrapper {
    width: 1020px;
    height: 100px;
    margin: 0 auto;
    padding: 8px 0 0;

    .header__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $main_black;
      &__logo {
        display: block;
        width: 155px;
        height: 45px;
      }

      &__form {
        width: 100%;
        margin-left: 45px;
        position: relative;

        .form-default {
          width: 100%;
          height: 40px;
          background-color: $form_background-color;
          border: solid 1px $main_gray;
          border-radius: 4px;
          padding: 0 42px 0 10px;
          font-size:16px;
          outline: none;
          &:focus {
            border: solid 1px $main_blue;
          }
        }
        & button {
          width: 36px;
          height: 36px;
          font-size: 16px;
          color: lighten($main_black, 15%);
          position: absolute;
          top: 2px;
          right: 2px;
          display: flex;
          align-items: center;
          border: none;
          border-radius: 4px;
          border-left: none;
          justify-content: center;
          background-color: $form_background-color;
          font-weight: 900;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  .header__menu-box {
    height: 46px;
    margin: 8px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--left {
      display: flex;
      justify-content: space-between;
      &__icon {
        color: $main_red;
        font-size: 12px;
        margin-right: 4px;
      }
      ul {
        li.header__menu-box--left__category {
          font-weight: bold;
          font-size:14px;
          margin-right: 10px;
          height: 55px;
          line-height: 46px;
          position: relative;
          &:hover {
            color: $main_blue;
            ul {
              li {
                display: block;
                height: 44px;
              }
            }
          }
          ul {
            position: absolute;
            top: 44px;
            z-index: 1000;
            font-weight: normal;
            li {
              width: 220px;
              height: 0;
              display: none;
              background-color: white;
              &:hover {
                color: $main_blue;
                .header__menu-box--left__children {
                  &__child {
                    display: block;
                    height: 30px;
                  }
                }
              }
              a {
                @include dropMenu_aTag(44px);
                &:hover {
                  background-color: $main_red;
                  color: white;
                }
              }
              .header__menu-box--left__children {
                position: absolute;
                top: 0;
                left: 220px;
                z-index: 1000;
                height: 616px;
                background-color: white;
                border-right: 1px solid $main_gray;
                &__child {
                  width: 220px;
                  height: 0;
                  display: none;
                  background-color: white;
                  &:hover {
                    color: $main_blue;
                    .header__menu-box--left__grand-children {
                      &__grand-child {
                        display: block;
                        height: 30px;
                      }
                    }
                  }
                  a {
                    @include dropMenu_aTag(30px);
                    font-size: 14px;
                    &:hover {
                      background-color: #f3f3f3;
                    }
                  }
                  .header__menu-box--left__grand-children {
                    position: absolute;
                    top: 0;
                    left: 220px;
                    z-index: 1000;
                    height: 616px;
                    background-color: white;
                    border-right: 1px solid $main_gray;
    
                    &__grand-child {
                      width: 300px;
                      height: 0;
                      display: none;
                      background-color: white;
                      a {
                        @include dropMenu_aTag(30px);
                        font-size: 14px;
                        &:hover {
                          background-color: #f3f3f3;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      li {
        display: inline-block;
      }


      &__brand {
        font-weight: bold;
        font-size:14px;
        height: 44px;
        position: relative;
        &:hover {
          color: $main_blue;
          ul.header__menu-box--left__brand__list {
            li {
              display: block;
              height: 44px;
            }
          }
        }

        ul.header__menu-box--left__brand__list {
          position: absolute;
          top: 31px;
          z-index: 1000;
          li {
            width: 220px;
            height: 0;
            display: none;
            background-color: white;
            a {
              border-right: 1px solid $main_gray;
              color: black;
              display: block;
              height: 44px;
              line-height: 44px;
              text-align: left;
              text-decoration: none;
              font-weight: normal;
              width: 100%;
              padding-left: 10px;
              &:hover {
                background-color: $main_red;
                color: white;
              }
            }
          }
        }
      }
    }
    &--right {
      float: right;
      letter-spacing: 0;
      height: 44px;
      font-size: 14px;
      &__list {
        display: inline-block;
        padding: 0 14px;
        line-height: 42px;
        
        &__icon {
          color: $main_gray;
          font-weight: bold;
          margin-right: 10px;
          font-size: 20px;
        }
        &__photo {
          float:left;
          border-radius: 50%;
          float: left;
          margin-right: 10px;
          width: 32px;
          height: 32px;
        }
      }
      &__user-btn {
        .sign-up-btn {
          @include headerUserBtn(white, $main_red, $main_red);
        }
        .user-login-btn {
          @include headerUserBtn($main_blue, $main_white, $main_blue);
          margin-left: 10px;
        }
      }
    }
  }
}
}