@import "variables";

* {
box-sizing: border-box;
}
html {
height: 100%;
width: 100%;
}

body {
height: 100%;
width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
margin: 0;
padding: 0;
// line-height: 1.57;
font-size: 16px;
font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}



@mixin dropMenu_aTag() {
  background-color: white;
  border-right: 1px solid $main_gray;
  color: black;
  display: block;
  height: 44px;
  line-height: 44px;
  text-align: left;
  text-decoration: none;
  width: 100%;
  padding-left: 10px;
}

@mixin headerUserBtn($font_color, $background_color, $border_color) {
  display:inline-block;
  background-color: $background_color;
  color: $font_color;
  height: 30px;
  border: 1px solid $border_color;
  border-radius: 4px;
  line-height:30px;
  text-align: center;
  padding: 0 10px;
  }

.header {
  width: 100%;
  background-color: $main_white;

  .header-wrapper {
    width: 1020px;
    height: 100px;
    margin: 0 auto;
    padding: 8px 0 0;

    .header__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $main_black;
      &__logo {
        display: block;
        width: 155px;
        height: 45px;
      }

      &__form {
        width: 100%;
        margin-left: 45px;
        position: relative;

        .form-default {
          width: 100%;
          height: 40px;
          background-color: #f3f3f3;
          border:solid 1px $main_gray;
          border-radius: 4px;
          padding: 0 42px 0 10px;
          font-size:16px;
        }
        &__icon {
          width: 40px;
          height: 40px;
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  .header__menu-box {
    height: 46px;
    margin: 8px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--left {
      float: left;
      display: inline-block;
      li {
        display: inline-block;

      }
      &__category {
        font-weight: bold;
        font-size:14px;
        margin-right: 10px;
        height: 55px;
        line-height: 46px;
        &:hover {
          color: $main_blue;
        }
        &:hover ~ .header__menu-box--left__parent__wrapper{
          display: block;
        
        }
      }
      
      &__icon {
        color: $main_red;
        font-size: 12px;
        margin-right: 4px;
      }
      &__parent__wrapper {
        display: none;
        // display: block;
        position: absolute;
        top: 100px;
        width: 220px;
        height: 400px;
        background-color: white;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
        z-index: 1000;
        & > li {
          width: 220px;
        }
        li {
          position: relative;
          a {
            @include dropMenu_aTag();
          
            &:hover {
              background-color: $main_red;
              color: white;
            
            }
          }
        
        }
      }
      &__child__wrapper {
        display: block;
        position: absolute;
        top: 0px;
        left: 220px;
        width: 220px;
        height: 400px;
        background-color: white;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
        z-index: 1000;
        li {
          width: 220px;
          a {
            @include dropMenu_aTag;
            font-size: 14px;
          }
        }

      }
      &__grand-child__wrapper {
        display: block;
        position: absolute;
        top: 0;
        left: 220px;
        width: 220px;
        height: 400px;
        background-color: $main_white;
        z-index: 1000;
        li {
          width: 220px;
            a {
              @include dropMenu_aTag();
              font-size:12px;
            }
        }
      }

      &__brand {
        font-weight: bold;
        font-size:14px;
        height: 44px;
        position: relative;
        &:hover {
          color: $main_blue;
        }
        &:hover ~ .header__menu-box--left__brand__list {
          display: block;
        }
        &__list {
          display: none;
          position: absolute;
          top: 100px;
          width: 100px;
          height: 200px;
          background-color: white;
          z-index: 1000;
          li {
            width: 220px;
            a {
            background-color: white;
            border-right: 1px solid $main_gray;
            color: black;
            display: block;
            height: 44px;
            line-height: 44px;
            text-align: left;
            text-decoration: none;
            width: 100%;
            padding-left: 10px;
            &:hover {
              background-color: $main_red;
              color: white;
            }
            }
          }
          
        }
      }
  




    }
    &--right {
      float: right;
      letter-spacing: 0;
      height: 42px;
      font-size: 14px;
      &__list {
        float:left;
        display: inline-block;
        padding: 0 14px;
        line-height: 42px;
        
        &__icon {
          color: $main_gray;
          font-weight: bold;
          margin-right: 10px;
          font-size: 20px;
        }
        &__photo {
          border-radius: 50%;
          float: left;
          margin-right: 10px;
          width: 32px;
          height: 32px;
        }
      }
      &__user-btn {
        .sign-up-btn {
          @include headerUserBtn(white, $main_red, $main_red);
        }
        .user-login-btn {
          @include headerUserBtn($main_blue, $main_white, $main_blue);
          margin-left: 10px;
        }
      }
    }
}
  
}
}