@import "variables";

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic,
    メイリオ, Meiryo, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

@mixin userRatingIcon($icon-color) {
  width: 20px;
  height: 20px;
  color: $icon-color;
}

@mixin shareBtn($icon-color) {
  background-color: $icon-color;
  height: 44px;
  width: 44px;
  border-radius: 4px;
  line-height: 44px;
  font-size: 24px;
}

@mixin actionBtn($background-color, $font-size, $font-weight) {
  position: relative;
  height: 60px;
  line-height: 60px;
  display: block;
  margin: 16px 0;
  background-color: $background-color;
  color: #fff;
  font-size: $font-size;
  line-height: 56px;
  text-align: center;
  font-weight: $font-weight;
}

.product {
  width: 700px;
  margin: 24px auto 0;
  padding: 24px 40px 40px;
  background-color: $main_white;

  &__container {
    .product__name {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      word-wrap: break-word;
      line-height: 1.4;
    }

    .product__main-contents {
      display: flex;
      justify-content: space-between;

      &__photo {
        max-width: 300px;
        max-height: 300px;
        background-color: #fafafa;

        &-main {
          width: 100%;
          height: 100%;
          text-align: center;
          margin: 0 0;
          position: relative;

          img {
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
          }

          &--soldout {
            &-image {
              width: 120px;
              height: 120px;
              position: absolute;
              z-index: 1;
              top: -1px;
              left: -1px;
            }
          }
        }

        &-others {
          height: 120px;
          width: 300px;
          display: flex;
          flex-wrap: wrap;

          img {
            max-height: 60px;
            max-width: 60px;
            min-width: 60px;
            min-height: 60px;
            opacity: 0.6;
            object-fit: cover;
          }
        }
      }

      &__details {
        display: block;
        max-width: 300px;
        height: 420px;
        margin: 0 auto;
        width: 100%;

        tbody {
          tr {
            font-size: 14px;

            th {
              width: 39%;
              height: 30px;
              text-align: left;
              background: #fafafa;
              padding: 8px;
              border: 1px solid #f5f5f5;
            }

            td {
              width: 61%;
              background-color: #fff;
              padding: 8px;
              border: 1px solid #f5f5f5;

              .product-user-ratings {
                display: flex;
                justify-content: space-between;

                &__face {
                  font-size: 16px;
                  display: inline-block;

                  &__icon-smile {
                    font-size: 20px;
                    color: #ef5185;
                  }

                  &__icon-meh {
                    font-size: 20px;
                    color: #fba933;
                  }

                  &__icon-frown {
                    font-size: 20px;
                    color: #6ab5d8;
                  }
                }
              }

              .text-link {
                color: $main_blue;
                display: block;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }

  &__price {
    margin: 24px 0 0;
    text-align: center;

    &__bold {
      font-size: 50px;
      margin: 0 16px 0 0;
      font-weight: bold;
    }

    &__tax {
      font-size: 10px;
    }

    &__shipping-fee {
      font-size: 16px;
    }
    &__roulette {
      
      &-btn {
        display:inline-block;
        background-color: gold;
        height: 50px;
        line-height: 50px;
        text-align: center;
        width: 320px;
        font-weight: normal;
        
      }
    }
  }

  &__user-sales {
    text-align: center;

    &__balloon {
      display: inline-block;
      position: relative;
      line-height: 1.5;
      color: #fff;
      background: #05b0b4;
      margin: 20px 0 0 0;
      padding: 8px;
      border-radius: 4px;
    }
  }

  &__buy-btn {
    @include actionBtn(#ea352b, 24px, 600);
  }

  &__edit-btn {
    @include actionBtn(#ea352b, 14px, 400);
  }

  &__soldout {
    @include actionBtn(#888, 24px, 600);

    &:hover {
      cursor: not-allowed;
    }
  }

  &__edit__btn-text {
    font-size: 16px;
    text-align: center;
  }

  &__status-btn {
    @include actionBtn(#ea352b, 14px, 400);
  }

  &__delete-btn {
    @include actionBtn(#aaa, 14px, 400);
  }

  &__description {
    padding: 32px 0 0;
    font-size: 18px;
    line-height: 1.5;
    white-space: pre-wrap;
  }

  &__btn-container {
    margin: 16px 0 0;
    display: flex;
    justify-content: space-between;

    &--left {
      font-size: 14px;

      .like-btn {
        color: #333;
        border: 1px solid #f5f5f5;
        background: #f5f5f5;
        display: inline-block;
        padding: 8px 16px;
        border-radius: 40px;

        span {
          margin: 1px 0 0 8px;
        }
      }

      .report-btn {
        color: #333;
        border: 1px solid #f5f5f5;
        background: #f5f5f5;
        display: inline-block;
        padding: 8px 16px;
        border-radius: 40px;
        margin-left: 16px;

        span {
          margin: 1px 0 0 8px;
        }
      }
    }

    &--right {
      margin: 8px 0 0;

      a {
        color: $main_blue;
        margin: 1px 0 0 8px;
        font-size: 14px;
      }
    }
  }
}

.product__message__container {
  position: relative;
  width: 700px;
  margin: 24px auto 0;
  padding: 24px;
  background-color: $main_white;

  .product_messages {
    padding: 24px;
    background: #fff;
    margin: 0;

    &__items::-webkit-scrollbar {
      display: none;
    }

    &__items {
      padding: 0;
      max-height: 700px;
      overflow-y: scroll;

      &__item:first-child {
        margin: 1.5em 0 0;
      }

      &__item {
        margin: 60px 0 0;
        display: flex;
        justify-content: space-between;

        &__messege-user {
          position: relative;
          top: -20px;
          color: #333;
          text-decoration: none;
          height: 40px;

          &__figure {
            margin: 0;
            padding: 0;

            &__div {
              width: 40px;
              height: 40px;
              overflow: hidden;
              border-radius: 50%;

              img {
                height: 100%;
                width: 100%;
                vertical-align: middle;

              }
            }

            &__figcaption {
              width: 600px;
              min-width: 600px;
              overflow: hidden;
              position: absolute;
              top: 0;
              left: 56px;
              max-width: 100%;
              height: 1.2em;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-weight: 600;
            }

            .message-is-seller {
              margin: 8px 0 0;
              padding: 4px;
              background: #eef0f4;
              color: #000;
              border-radius: 2px;
              font-size: 12px;
            }
          }
        }

        .message-body {
          width: 600px;
          position: relative;
          padding: 16px;
          background: #eef0f4;
          border-radius: 15px;
          line-height: 1.5;
          word-break: break-all;

          &__text {

            p {
              font-size: 14px;
              font-weight: 400;
            }
          }

          &__icons {
            margin: 8px 0 0;
            padding: 0;
            color: rgb(170, 170, 170);
            font-size: 14px;
            font-weight: 400;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }

  .product__message {
    margin-top: 48px;

    .notes_text {
      padding: 8px;
      font-size: 14px;
      background-color: #fff6de;
    }

    &__form {
      width: 100%;
      height: 104px;
      margin: 8px 0 0;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
    }

    &__submit-btn {
      width: 100%;
      min-height: 48px;
      margin: 8px 0 0;
      text-align: center;
      line-height: 48px;
      background-color: #aaaaaa;
      color: #fff;
    }

    .prohibitted {
      background: #f5f5f5;
    }

    .disabled {
      cursor: not-allowed;
      background: #888;
    }
  }
}

.product__links {
  display: flex;
  justify-content: space-between;
  margin: 24px auto 0;
  width: 700px;
  color: $main_blue;

  &--prev {
    display: inline-block;
    width: 45%;
  }

  &--next {
    display: inline-block;
    width: 45%;
    text-align: right;
  }
}

.social-media-box {
  width: 700px;
  margin: 24px auto;
  padding: 32px 0px 24px;
  background-color: $main_white;
  position: relative;

  &__container {
    margin: 16px 0 0;
    text-align: center;

    .share-btn {
      display: inline-block;
      color: white;

      .icon_facebook {
        @include shareBtn(#385185);
      }

      .icon_twitter {
        @include shareBtn(#5d9d9c);
      }

      .icon_line {
        @include shareBtn(#00c300);
      }

      .icon_pinterest {
        @include shareBtn(#bd081c);
      }
    }
  }
}

.other-products-container {}

.bread-crumbs__bottom {
  border-top: 1px solid #eee;
  background-color: $body_background-color;

  ul {
    width: 1020px;
    margin: 0 auto;
    padding: 16px 0;

    li {
      display: inline-block;
    }
  }
}