$main_red: #ea352d;
$main_gray: #ccc;
$main_blue: #0099e8;
$main_black: #333;
$main_white: #ffffff;
$body_background-color: #f5f5f5;
$footer_background-color: #212121;
$form_background-color:#f3f3f3;
$btn_color: #ea352d;
