!!!

#aside.aside
  .aside__content
    .aside__content__left
      .aside__content__left--text
        %h2 スマホでかんたんフリマアプリ
        %p 今すぐ無料ダウンロード!
      .aside__content__left--images
    .aside__content__right
      = image_tag 'aside_phone.png', alt: '', width: '295px', height: '255px', border: '0'
