<main>
  <section class="carousel">
  </section>

  <section class="pickup-containers">
    <h2 class="pickup-containters-head">ピックアップカテゴリー</h2>
    <section class="pickup-container">
      <h3 class="pickup-container-text-center">
        <a href="https://www.mercari.com/jp/category/1/">レディース新着アイテム</a>
      </h3>
      <div class="item-box-container">
        <section class="item-box">
          <a href="https://item.mercari.com/jp/m95112938635/">
            <figure class="item-box-photo">
              <img src="https://static.mercdn.net/thumb/photos/m95112938635_1.jpg?1564892794">
            </figure>
            <div class="item-box-body">
              <h3 class="item-box-body-name">
                KUMIKYOKU ワンピース
              </h3>
              <div class="item-box-body-num">
                <div class="item-box-body-num-price">¥ 2,000</div>
                <div class="item-box-body-num-likes">
                  <i class="icon-like-border"></i>
                </div>
              </div>
            </div>
          </a>
        </section>
        <section class="item-box">
          <a href="https://item.mercari.com/jp/m74682669656/">
            <figure class="item-box-photo">
              <img src="https://static.mercdn.net/thumb/photos/m74682669656_1.jpg?1554366646">
            </figure>
            <div class="item-box-body">
              <h3 class="item-box-body-name">
                GUCCI グッチ、 シマファスナー長財布
              </h3>
              <div class="item-box-body-num">
                <div class="item-box-body-num-price">¥ 38,800</div>
                <div class="item-box-body-num-likes">
                  <i class="icon-like-border"></i>
                </div>
              </div>
            </div>
          </a>
        </section>
        <section class="item-box">
          <a href="https://item.mercari.com/jp/m39424187987/">
            <figure class="item-box-photo">
              <img src="https://static.mercdn.net/thumb/photos/m39424187987_1.jpg?1564892794">
            </figure>
            <div class="item-box-body">
              <h3 class="item-box-body-name">
                結婚式 お呼ばれ ワンピース(ドレス)
              </h3>
              <div class="item-box-body-num">
                <div class="item-box-body-num-price">¥ 2,500</div>
                <div class="item-box-body-num-likes">
                  <i class="icon-like-border"></i>
                </div>
              </div>
            </div>
          </a>
        </section>
        <section class="item-box">
          <a href="https://item.mercari.com/jp/m19150720885/">
            <figure class="item-box-photo">
              <img src="https://static.mercdn.net/thumb/photos/m19150720885_1.jpg?1560086744">
            </figure>
            <div class="item-box-body">
              <h3 class="item-box-body-name">
                ジミーチュウ JIMMY CHOO サイズ37 ヒール6cm 未使用
              </h3>
              <div class="item-box-body-num">
                <div class="item-box-body-num-price">¥ 38,100</div>
                <div class="item-box-body-num-likes">
                  <i class="icon-like-border"></i>
                </div>
              </div>
            </div>
          </a>
        </section>
      </div>
    </section>
    <section class="pickup-container">
      <h3 class="pickup-container-text-center">
        <a href="https://www.mercari.com/jp/category/1/">メンズ新着アイテム</a>
      </h3>
      <div class="item-box-container">
        <section class="item-box">
          <a href="https://item.mercari.com/jp/m14657768851/">
            <figure class="item-box-photo">
              <img src="https://static.mercdn.net/thumb/photos/m14657768851_1.jpg?1563186348">
            </figure>
            <div class="item-box-body">
              <h3 class="item-box-body-name">
                M715 adidas パーカー
              </h3>
              <div class="item-box-body-num">
                <div class="item-box-body-num-price">¥ 2,500</div>
                <div class="item-box-body-num-likes">
                  <i class="icon-like-border"></i>
                </div>
              </div>
            </div>
          </a>
        </section>
        <section class="item-box">
          <a href="https://item.mercari.com/jp/m81958640537/">
            <figure class="item-box-photo">
              <img src="https://static.mercdn.net/thumb/photos/m81958640537_1.jpg?1562325485">
            </figure>
            <div class="item-box-body">
              <h3 class="item-box-body-name">
                【人気ブランド】　ポロラルフローレン　半袖ポロシャツ　L　ボーダー　９０ｓ
              </h3>
              <div class="item-box-body-num">
                <div class="item-box-body-num-price">¥ 3,980</div>
                <div class="item-box-body-num-likes">
                  <i class="icon-like-border"></i>
                </div>
              </div>
            </div>
          </a>
        </section>
        <section class="item-box">
          <a href="https://item.mercari.com/jp/m92734406078/">
            <figure class="item-box-photo">
              <img src="https://static.mercdn.net/thumb/photos/m92734406078_1.jpg?1564832676">
            </figure>
            <div class="item-box-body">
              <h3 class="item-box-body-name">
                【美品】KORN、ROB ZOMBIE 90s バンドTシャツ ヴィンテージ
              </h3>
              <div class="item-box-body-num">
                <div class="item-box-body-num-price">¥ 16,450</div>
                <div class="item-box-body-num-likes">
                  <i class="icon-like-border"></i>
                </div>
              </div>
            </div>
          </a>
        </section>
        <section class="item-box">
          <a href="https://item.mercari.com/jp/m12176688984/">
            <figure class="item-box-photo">
              <img src="https://static.mercdn.net/thumb/photos/m12176688984_1.jpg?1562410949">
            </figure>
            <div class="item-box-body">
              <h3 class="item-box-body-name">
                ALPHA INDUSTRIES アルファ Tシャツ Sサイズ
              </h3>
              <div class="item-box-body-num">
                <div class="item-box-body-num-price">¥ 1,500</div>
                <div class="item-box-body-num-likes">
                  <i class="icon-like-border"></i>
                </div>
              </div>
            </div>
          </a>
        </section>
      </div>
    </section>
  </section>
</main>