%main.white{role: "main"}
  %section.owl-carousel.top-carousel.owl-loaded.owl-drag
    .owl-stage-outer
      .owl-stage{style: "left: -1644px; width: 3288px;"}
        .owl-item.cloned{style: "width: 548px;"}
          %a.top-banner.banner-camp{href: "/jp/featured/camp/"}
        .owl-item.cloned{style: "width: 548px;"}
          %div
            .top-main-visual
              %div
                .top-main-visual-content
                  %h2
                    スマホでかんたん
                    %br>/
                    フリマアプリ
                  %p
                    メルカリはスマホカメラからすぐに出品できる
                    %br>/
                    購入時も安心な独自システムのアプリです
                  .top-main-visual-store.clearfix
                    %a.pull-left{href: "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", target: "_blank"}
                      %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?863303983"}/
                    %a.pull-left{href: "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "_blank"}
                      %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?863303983"}/
                %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?863303983"}/
            #sp-top.visible-sp
              #sp-top-banner
                %h2
                  スマホで
                  %br>/
                  かんたん
                  %br>/
                  フリマアプリ
                %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?863303983"}/
              #sp-top-dl.clearfix
                %a{href: "http://app.adjust.io/xio2ii?campaign=iOS&adgroup=top.foot"}
                  %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?863303983"}/
                %a{href: "http://app.adjust.io/xio2ii?campaign=android&adgroup=top.foot"}
                  %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?863303983"}/
        .owl-item{style: "width: 548px;"}
          %a.top-banner.banner-camp{href: "/jp/featured/camp/"}
        .owl-item.active{style: "width: 548px;"}
          %div
            .top-main-visual
              %div
                .top-main-visual-content
                  %h2
                    スマホでかんたん
                    %br>/
                    フリマアプリ
                  %p
                    メルカリはスマホカメラからすぐに出品できる
                    %br>/
                    購入時も安心な独自システムのアプリです
                  .top-main-visual-store.clearfix
                    %a.pull-left{href: "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", target: "_blank"}
                      %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?863303983"}/
                    %a.pull-left{href: "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "_blank"}
                      %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?863303983"}/
                %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?863303983"}/
            #sp-top.visible-sp
              #sp-top-banner
                %h2
                  スマホで
                  %br>/
                  かんたん
                  %br>/
                  フリマアプリ
                %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?863303983"}/
              #sp-top-dl.clearfix
                %a{href: "http://app.adjust.io/xio2ii?campaign=iOS&adgroup=top.foot"}
                  %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?863303983"}/
                %a{href: "http://app.adjust.io/xio2ii?campaign=android&adgroup=top.foot"}
                  %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?863303983"}/
        .owl-item.cloned{style: "width: 548px;"}
          %a.top-banner.banner-camp{href: "/jp/featured/camp/"}
        .owl-item.cloned{style: "width: 548px;"}
          %div
            .top-main-visual
              %div
                .top-main-visual-content
                  %h2
                    スマホでかんたん
                    %br>/
                    フリマアプリ
                  %p
                    メルカリはスマホカメラからすぐに出品できる
                    %br>/
                    購入時も安心な独自システムのアプリです
                  .top-main-visual-store.clearfix
                    %a.pull-left{href: "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", target: "_blank"}
                      %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?863303983"}/
                    %a.pull-left{href: "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "_blank"}
                      %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?863303983"}/
                %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?863303983"}/
            #sp-top.visible-sp
              #sp-top-banner
                %h2
                  スマホで
                  %br>/
                  かんたん
                  %br>/
                  フリマアプリ
                %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?863303983"}/
              #sp-top-dl.clearfix
                %a{href: "http://app.adjust.io/xio2ii?campaign=iOS&adgroup=top.foot"}
                  %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?863303983"}/
                %a{href: "http://app.adjust.io/xio2ii?campaign=android&adgroup=top.foot"}
                  %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?863303983"}/
    .owl-nav
      .owl-prev prev
      .owl-next next
    .owl-dots
      .owl-dot
        %span
      .owl-dot.active
        %span
  %section.pickup-container
    %h2.pickup-head ピックアップカテゴリー
    %section.items-box-container.clearfix
      %h3.text-center
        %a{href: "/jp/category/1/"}
          レディース 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m98799821461/"}
            %figure.items-box-photo
              %img.lazyloaded.is-higher-height{alt: "198.浴衣リメイクトップス紺×赤い花柄", "data-src": "https://static.mercdn.net/thumb/photos/m98799821461_1.jpg?1564754364", src: "https://static.mercdn.net/thumb/photos/m98799821461_1.jpg?1564754364"}/
            .items-box-body
              %h3.items-box-name.font-2 198.浴衣リメイクトップス紺×赤い花柄
              .items-box-num
                .items-box-price.font-5 ¥ 3,300
                .font-2
                  %i.icon-like-border
                  %span 1
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m45468176994/"}
            %figure.items-box-photo
              %img.is-higher-width.lazyloaded{alt: "メッサジオ ステンレスブレスレット", "data-src": "https://static.mercdn.net/thumb/photos/m45468176994_1.jpg?1497448682", src: "https://static.mercdn.net/thumb/photos/m45468176994_1.jpg?1497448682"}/
            .items-box-body
              %h3.items-box-name.font-2 メッサジオ ステンレスブレスレット
              .items-box-num
                .items-box-price.font-5 ¥ 3,300
                .font-2
                  %i.icon-like-border
                  %span 2
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m28761516504/"}
            %figure.items-box-photo
              %img.lazyloaded{alt: "DKNYタンクトップ", "data-src": "https://static.mercdn.net/thumb/photos/m28761516504_1.jpg?1564755984", src: "https://static.mercdn.net/thumb/photos/m28761516504_1.jpg?1564755984"}/
            .items-box-body
              %h3.items-box-name.font-2 DKNYタンクトップ
              .items-box-num
                .items-box-price.font-5 ¥ 980
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m18211226658/"}
            %figure.items-box-photo
              %img.lazyloaded{alt: "ヴィンテージ 作家もの銀の薔薇のブローチ", "data-src": "https://static.mercdn.net/thumb/photos/m18211226658_1.jpg?1564756042", src: "https://static.mercdn.net/thumb/photos/m18211226658_1.jpg?1564756042"}/
            .items-box-body
              %h3.items-box-name.font-2 ヴィンテージ 作家もの銀の薔薇のブローチ
              .items-box-num
                .items-box-price.font-5 ¥ 4,500
      .view-all
        %a{href: "/jp/category/1/"} すべての商品を見る
    %section.items-box-container.clearfix
      %h3.text-center
        %a{href: "/jp/category/2/"}
          メンズ 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m94664456094/"}
            %figure.items-box-photo
              %img.is-higher-height.lazyloaded{alt: "ナイキ ハーフパンツ", "data-src": "https://static.mercdn.net/thumb/photos/m94664456094_1.jpg?1562942774", src: "https://static.mercdn.net/thumb/photos/m94664456094_1.jpg?1562942774"}/
            .items-box-body
              %h3.items-box-name.font-2 ナイキ ハーフパンツ
              .items-box-num
                .items-box-price.font-5 ¥ 1,800
                .font-2
                  %i.icon-like-border
                  %span 7
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m90396765350/"}
            %figure.items-box-photo
              %img.lazyloaded{alt: "Bucky様専用", "data-src": "https://static.mercdn.net/thumb/photos/m90396765350_1.jpg?1534478790", src: "https://static.mercdn.net/thumb/photos/m90396765350_1.jpg?1534478790"}/
            .items-box-body
              %h3.items-box-name.font-2 Bucky様専用
              .items-box-num
                .items-box-price.font-5 ¥ 3,300
                .font-2
                  %i.icon-like-border
                  %span 15
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m12989730762/"}
            %figure.items-box-photo
              %img.lazyloaded{alt: "2tac タック ストライプ&チェック柄 ワイドスラックス 88", "data-src": "https://static.mercdn.net/thumb/photos/m12989730762_1.jpg?1557309695", src: "https://static.mercdn.net/thumb/photos/m12989730762_1.jpg?1557309695"}/
            .items-box-body
              %h3.items-box-name.font-2 2tac タック ストライプ&amp;チェック柄 ワイドスラックス 88
              .items-box-num
                .items-box-price.font-5 ¥ 4,480
                .font-2
                  %i.icon-like-border
                  %span 17
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m67625127308/"}
            %figure.items-box-photo
              %img.is-higher-height.lazyloaded{alt: "ラルローレン フランス代表 ポロシャツ Mサイズ", "data-src": "https://static.mercdn.net/thumb/photos/m67625127308_1.jpg?1554378573", src: "https://static.mercdn.net/thumb/photos/m67625127308_1.jpg?1554378573"}/
            .items-box-body
              %h3.items-box-name.font-2 ラルローレン フランス代表 ポロシャツ Mサイズ
              .items-box-num
                .items-box-price.font-5 ¥ 14,300
                .font-2
                  %i.icon-like-border
                  %span 13
      .view-all
        %a{href: "/jp/category/2/"} すべての商品を見る
    %section.items-box-container.clearfix
      %h3.text-center
        %a{href: "/jp/category/3/"}
          ベビー・キッズ 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m46683178938/"}
            %figure.items-box-photo
              %img.lazyloaded{alt: "新品☆ ☆hime☆様専用ディズニーミッキー長袖ロンパース 50〜70 青", "data-src": "https://static.mercdn.net/thumb/photos/m46683178938_1.jpg?1564756014", src: "https://static.mercdn.net/thumb/photos/m46683178938_1.jpg?1564756014"}/
            .items-box-body
              %h3.items-box-name.font-2 新品☆ ☆hime☆様専用ディズニーミッキー長袖ロンパース 50〜70 青
              .items-box-num
                .items-box-price.font-5 ¥ 3,020
                .font-2
                  %i.icon-like-border
                  %span 5
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m10134500353/"}
            %figure.items-box-photo
              %img.lazyloaded{alt: "こどもちゃれんじ 付録 新生児用", "data-src": "https://static.mercdn.net/thumb/photos/m10134500353_1.jpg?1564756013", src: "https://static.mercdn.net/thumb/photos/m10134500353_1.jpg?1564756013"}/
            .items-box-body
              %h3.items-box-name.font-2 こどもちゃれんじ 付録 新生児用
              .items-box-num
                .items-box-price.font-5 ¥ 2,000
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m15891590802/"}
            %figure.items-box-photo
              %img.is-higher-height.lazyloaded{alt: "ユニクロ 半袖パジャマ 100サイズ", "data-src": "https://static.mercdn.net/thumb/photos/m15891590802_1.jpg?1564756013", src: "https://static.mercdn.net/thumb/photos/m15891590802_1.jpg?1564756013"}/
            .items-box-body
              %h3.items-box-name.font-2 ユニクロ 半袖パジャマ 100サイズ
              .items-box-num
                .items-box-price.font-5 ¥ 400
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m73826214590/"}
            %figure.items-box-photo
              %img.lazyloaded{alt: "最終値下げ アンパサンド  ボーダーワンピース 100", "data-src": "https://static.mercdn.net/thumb/photos/m73826214590_1.jpg?1559711118", src: "https://static.mercdn.net/thumb/photos/m73826214590_1.jpg?1559711118"}/
            .items-box-body
              %h3.items-box-name.font-2 最終値下げ アンパサンド ボーダーワンピース 100
              .items-box-num
                .items-box-price.font-5 ¥ 300
                .font-2
                  %i.icon-like-border
                  %span 3
      .view-all
        %a{href: "/jp/category/3/"} すべての商品を見る
    %section.items-box-container.clearfix
      %h3.text-center
        %a{href: "/jp/category/6/"}
          コスメ・香水・美容 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m73563405383/"}
            %figure.items-box-photo
              %img.lazyloaded{alt: "ニベア さくらももこ", "data-src": "https://static.mercdn.net/thumb/photos/m73563405383_1.jpg?1563852685", src: "https://static.mercdn.net/thumb/photos/m73563405383_1.jpg?1563852685"}/
            .items-box-body
              %h3.items-box-name.font-2 ニベア さくらももこ
              .items-box-num
                .items-box-price.font-5 ¥ 300
                .font-2
                  %i.icon-like-border
                  %span 1
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m82676705839/"}
            %figure.items-box-photo
              %img.lazyloaded{alt: "ホワイピュア 薬用美白クリーム", "data-src": "https://static.mercdn.net/thumb/photos/m82676705839_1.jpg?1563809273", src: "https://static.mercdn.net/thumb/photos/m82676705839_1.jpg?1563809273"}/
            .items-box-body
              %h3.items-box-name.font-2 ホワイピュア 薬用美白クリーム
              .items-box-num
                .items-box-price.font-5 ¥ 1,300
                .font-2
                  %i.icon-like-border
                  %span 6
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m86975667436/"}
            %figure.items-box-photo
              %img.is-higher-height.lazyloaded{alt: "大人気 再入荷HMB MAX7 新品未開封 定価2500円→1600円", "data-src": "https://static.mercdn.net/thumb/photos/m86975667436_1.jpg?1550285667", src: "https://static.mercdn.net/thumb/photos/m86975667436_1.jpg?1550285667"}/
            .items-box-body
              %h3.items-box-name.font-2 大人気 再入荷HMB MAX7 新品未開封 定価2500円→1600円
              .items-box-num
                .items-box-price.font-5 ¥ 1,400
                .font-2
                  %i.icon-like-border
                  %span 8
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m49657502618/"}
            %figure.items-box-photo
              %img.lazyloaded{alt: "アディクション キャンメイク　ネイルホリック", "data-src": "https://static.mercdn.net/thumb/photos/m49657502618_1.jpg?1562846755", src: "https://static.mercdn.net/thumb/photos/m49657502618_1.jpg?1562846755"}/
            .items-box-body
              %h3.items-box-name.font-2 アディクション キャンメイク　ネイルホリック
              .items-box-num
                .items-box-price.font-5 ¥ 300
                .font-2
                  %i.icon-like-border
                  %span 4
      .view-all
        %a{href: "/jp/category/6/"} すべての商品を見る
  %section.pickup-container
    %h2.pickup-head ピックアップブランド
    %section.items-box-container.clearfix
      %h3.text-center
        %a{href: "/jp/brand/658/"}
          シャネル 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m68025857131/"}
            %figure.items-box-photo
              %img.lazyload{alt: "シャネル ペンダントトップ ココマーク  大きい ヴィンテージ", "data-src": "https://static.mercdn.net/thumb/photos/m68025857131_1.jpg?1562311867"}/
            .items-box-body
              %h3.items-box-name.font-2 シャネル ペンダントトップ ココマーク 大きい ヴィンテージ
              .items-box-num
                .items-box-price.font-5 ¥ 11,500
                .font-2
                  %i.icon-like-border
                  %span 11
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m10459655597/"}
            %figure.items-box-photo
              %img.lazyload{alt: "正規品 CHANEL シャネル ゴールド ネパール ネックレス AT1-75", "data-src": "https://static.mercdn.net/thumb/photos/m10459655597_1.jpg?1557439445"}/
            .items-box-body
              %h3.items-box-name.font-2 正規品 CHANEL シャネル ゴールド ネパール ネックレス AT1-75
              .items-box-num
                .items-box-price.font-5 ¥ 40,500
                .font-2
                  %i.icon-like-border
                  %span 12
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m65131085622/"}
            %figure.items-box-photo
              %img.lazyload{alt: "シャネル CHANEL リップグロス", "data-src": "https://static.mercdn.net/thumb/photos/m65131085622_1.jpg?1563177286"}/
            .items-box-body
              %h3.items-box-name.font-2 シャネル CHANEL リップグロス
              .items-box-num
                .items-box-price.font-5 ¥ 1,500
                .font-2
                  %i.icon-like-border
                  %span 1
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m84965842629/"}
            %figure.items-box-photo
              %img.lazyload{alt: "シャネル★メイクパレット", "data-src": "https://static.mercdn.net/thumb/photos/m84965842629_1.jpg?1564491059"}/
            .items-box-body
              %h3.items-box-name.font-2 シャネル★メイクパレット
              .items-box-num
                .items-box-price.font-5 ¥ 2,500
                .font-2
                  %i.icon-like-border
                  %span 2
      .view-all
        %a{href: "/jp/brand/658/"} すべての商品を見る
    %section.items-box-container.clearfix
      %h3.text-center
        %a{href: "/jp/brand/1326/"}
          ルイ ヴィトン 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m32670332543/"}
            %figure.items-box-photo
              %img.lazyload{alt: "破格☆美品☆箱付き袋付き！長財布♡花♡ルイヴィトン", "data-src": "https://static.mercdn.net/thumb/photos/m32670332543_1.jpg?1564755353"}/
            .items-box-body
              %h3.items-box-name.font-2 破格☆美品☆箱付き袋付き！長財布♡花♡ルイヴィトン
              .items-box-num
                .items-box-price.font-5 ¥ 44,000
                .font-2
                  %i.icon-like-border
                  %span 5
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m73896566392/"}
            %figure.items-box-photo
              %img.lazyload{alt: "ルイヴィトン　札入れ", "data-src": "https://static.mercdn.net/thumb/photos/m73896566392_1.jpg?1564755989"}/
            .items-box-body
              %h3.items-box-name.font-2 ルイヴィトン　札入れ
              .items-box-num
                .items-box-price.font-5 ¥ 6,666
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m30791392459/"}
            %figure.items-box-photo
              %img.lazyload{alt: "ショルダーバッグソローニユ正規品", "data-src": "https://static.mercdn.net/thumb/photos/m30791392459_1.jpg?1561298552"}/
            .items-box-body
              %h3.items-box-name.font-2 ショルダーバッグソローニユ正規品
              .items-box-num
                .items-box-price.font-5 ¥ 25,333
                .font-2
                  %i.icon-like-border
                  %span 1
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m23715557682/"}
            %figure.items-box-photo
              %img.lazyload{alt: "❤超美品❤　ルイヴィトン　がま口財布　モノグラム", "data-src": "https://static.mercdn.net/thumb/photos/m23715557682_1.jpg?1561642023"}/
            .items-box-body
              %h3.items-box-name.font-2 ❤超美品❤　ルイヴィトン　がま口財布　モノグラム
              .items-box-num
                .items-box-price.font-5 ¥ 44,500
                .font-2
                  %i.icon-like-border
                  %span 27
      .view-all
        %a{href: "/jp/brand/1326/"} すべての商品を見る
    %section.items-box-container.clearfix
      %h3.text-center
        %a{href: "/jp/brand/1620/"}
          シュプリーム 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m48756863571/"}
            %figure.items-box-photo
              %img.lazyload{alt: "シュプリーム カモ柄 コットン Tシャツ", "data-src": "https://static.mercdn.net/thumb/photos/m48756863571_1.jpg?1564645842"}/
            .items-box-body
              %h3.items-box-name.font-2 シュプリーム カモ柄 コットン Tシャツ
              .items-box-num
                .items-box-price.font-5 ¥ 6,200
                .font-2
                  %i.icon-like-border
                  %span 3
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m87807339646/"}
            %figure.items-box-photo
              %img.lazyload{alt: "美品  2016SS  Supreme ダッフルバッグ  送料込み", "data-src": "https://static.mercdn.net/thumb/photos/m87807339646_1.jpg?1564755972"}/
            .items-box-body
              %h3.items-box-name.font-2 美品 2016SS Supreme ダッフルバッグ 送料込み
              .items-box-num
                .items-box-price.font-5 ¥ 28,600
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m51971082834/"}
            %figure.items-box-photo
              %img.lazyload{alt: "supreme Buju Banton Tee", "data-src": "https://static.mercdn.net/thumb/photos/m51971082834_1.jpg?1563290824"}/
            .items-box-body
              %h3.items-box-name.font-2 supreme Buju Banton Tee
              .items-box-num
                .items-box-price.font-5 ¥ 22,000
                .font-2
                  %i.icon-like-border
                  %span 12
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m22241932135/"}
            %figure.items-box-photo
              %img.lazyload{alt: "確認用", "data-src": "https://static.mercdn.net/thumb/photos/m22241932135_1.jpg?1564755936"}/
            .items-box-body
              %h3.items-box-name.font-2 確認用
              .items-box-num
                .items-box-price.font-5 ¥ 55,555
                .font-2
                  %i.icon-like-border
                  %span 1
      .view-all
        %a{href: "/jp/brand/1620/"} すべての商品を見る
    %section.items-box-container.clearfix
      %h3.text-center
        %a{href: "/jp/brand/857/"}
          ナイキ 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m94664456094/"}
            %figure.items-box-photo
              %img.lazyload{alt: "ナイキ ハーフパンツ", "data-src": "https://static.mercdn.net/thumb/photos/m94664456094_1.jpg?1562942774"}/
            .items-box-body
              %h3.items-box-name.font-2 ナイキ ハーフパンツ
              .items-box-num
                .items-box-price.font-5 ¥ 1,800
                .font-2
                  %i.icon-like-border
                  %span 7
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m77246156135/"}
            %figure.items-box-photo
              %img.lazyload{alt: "古着 90s NIKE ビッグシルエット tシャツ", "data-src": "https://static.mercdn.net/thumb/photos/m77246156135_1.jpg?1564756011"}/
            .items-box-body
              %h3.items-box-name.font-2 古着 90s NIKE ビッグシルエット tシャツ
              .items-box-num
                .items-box-price.font-5 ¥ 3,500
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m64872960437/"}
            %figure.items-box-photo
              %img.lazyload{alt: "NIKE ウィメンズ エアリフト ゴールド 23cm", "data-src": "https://static.mercdn.net/thumb/photos/m64872960437_1.jpg?1564756009"}/
            .items-box-body
              %h3.items-box-name.font-2 NIKE ウィメンズ エアリフト ゴールド 23cm
              .items-box-num
                .items-box-price.font-5 ¥ 15,000
        %section.items-box
          %a{href: "https://item.mercari.com/jp/m89739684781/"}
            %figure.items-box-photo
              %img.lazyload{alt: "新品レディースモデル！ナイキフライニットルナ2/26.5cm nikeWMNS", "data-src": "https://static.mercdn.net/thumb/photos/m89739684781_1.jpg?1553403456"}/
            .items-box-body
              %h3.items-box-name.font-2 新品レディースモデル！ナイキフライニットルナ2/26.5cm nikeWMNS
              .items-box-num
                .items-box-price.font-5 ¥ 6,799
                .font-2
                  %i.icon-like-border
                  %span 15
      .view-all
        %a{href: "/jp/brand/857/"} すべての商品を見る
